.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.spacer { height: 20px; width:100%; }

.spacer-large { height: 50px; width:100%; }

highchart {
  display: block;
  width: 100%;
  max-width: 100%;
}